.basket {
  grid-column: 1 / 3;
  &-current {
    &__top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--color-secondary);
    }
  }
  &__accordion-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    &-icon {
      width: 100%;
      height: 100%;
      fill: var(--color-secondary);
      transition: fill var(--base-animation);
    }
    &--open {
      & .basket__accordion-button-icon {
        transform: rotate(0);
      }
    }
    &--close {
      & .basket__accordion-button-icon {
        transform: rotate(-180deg);
      }
    }
    &:hover {
      & .basket__accordion-button-icon {
        fill: var(--color-accent);
      }
    }
  }
  &__checkbox {
    appearance: none;
    background-color: inherit;
    margin: 0;

    font: inherit;
    color: var(--color-accent);
    width: 22px;
    height: 22px;
    border: 2px solid var(--color-accent);
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      opacity: 0;
      background-color: var(--color-accent);
      background-image: url("./checked.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 12px;
    }
    &-label {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: var(--color-dark);
      display: flex;
      align-items: center;
      align-self: center;
      gap: 6px;
    }
    &--checked::before {
      opacity: 1;
    }
    &:checked::before {
      opacity: 1;
    }
    &:disabled {
      border-color: var(--color-secondary);
      cursor: not-allowed;
    }
  }
  &__list {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    display: grid;
    align-items: start;
    grid-auto-flow: column;
    gap: 16px;
    grid-template-columns: 22px 72px 1fr max-content max-content;
    &-img-wrap {
      min-width: 72px;
      height: 96px;
      border-radius: 8px;
      overflow: hidden;
    }
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-text-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
    &-title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin: 0;
    }
    &-subinfo {
      font-size: 13px;
      line-height: 16px;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
    &-store {
      font-size: 13px;
      line-height: 16px;
      color: var(--color-secondary);
    }
    &-company {
      display: flex;
      gap: 6px;
      align-items: center;
      position: relative;
      &-tooltip {
        position: absolute;
        top: 28px;
        left: 0px;
        visibility: hidden;
        opacity: 0;
        width: 280px;
        padding: 11px 16px 13px 16px;
        background-color: var(--color-white);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        transition: opacity var(--base-animation);
        &--active {
          visibility: visible;
          opacity: 1;
        }
      }
      &-title {
        margin: 0;
        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
      }
      &-code {
        font-size: 13px;
        line-height: 16px;
      }
      &-address {
        font-size: 13px;
        line-height: 16px;
      }
      &-name {
        font-size: 13px;
        line-height: 16px;
        color: var(--color-secondary);
      }
      &-button {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        &-icon {
          width: 100%;
          height: 100%;
          fill: var(--color-secondary);
        }
      }
    }
    &-interactive {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
    &-counter {
      background-color: var(--color-white);
      border-radius: 8px;
      padding: 10px 4px;
      display: grid;
      grid-template-columns: 24px minmax(44px, 1fr) 24px;
      align-items: center;
      &-button {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        padding: 0;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -1px;
        cursor: pointer;
      }
      &-num {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
      &-left {
        font-size: 13px;
        line-height: 16px;
        color: var(--color-counter-left);
      }
    }
    &-personal {
      display: flex;
      gap: 16px;
      align-items: center;
      align-self: flex-end;
    }
    &-favorite {
      background-color: transparent;
      border: none;
      padding: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
      &-icon {
        width: 100%;
        height: 100%;
        fill: var(--color-dark);
        transition: fill var(--base-animation);
      }
      &:hover {
        & .basket__item-favorite-icon {
          fill: var(--color-accent);
        }
      }
    }
    &-delete {
      background-color: transparent;
      border: none;
      padding: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
      &-icon {
        width: 100%;
        height: 100%;
        fill: var(--color-dark);
        transition: fill var(--base-animation);
      }
      &:hover {
        & .basket__item-delete-icon {
          fill: var(--color-warning);
        }
      }
    }
    &-prices {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;
      &-tooltip {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 42px;
        right: 0px;
        width: 239px;
        padding: 11px 16px 13px 16px;
        background-color: var(--color-white);
        border-radius: 8px;
        transition: opacity var(--base-animation);
        &--active {
          visibility: visible;
          opacity: 1;
        }
        &-row {
          display: flex;
          gap: 5px;
          justify-content: space-between;
        }
        &-discount {
          font-size: 13px;
          line-height: 16px;
          color: var(--color-price-tooltip);
        }
        &-price {
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
    &-price-new {
      font-size: 16px;
      line-height: 16px;
      font-weight: 700;
    }
    &-price-old {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
      color: var(--color-secondary);
      align-self: flex-end;
      text-decoration: line-through;
      border-bottom: 1px dashed var(--color-secondary);
    }
  }
}
