.main {
  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    padding: 10px 0px 10px 0px;
  }
  &__card {
    padding: 16px 24px 24px 24px;
    background-color: var(--color-white);
    border-radius: 16px;
    grid-column: 1 / 3;
    &-title {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      letter-spacing: -1px;
      margin: 0;
      color: var(--color-dark);
    }
  }
}
