@font-face {
  font-family: Segoe-UI;
  src: url("assets/fonts/Segoe-UI.woff2") format("woff2"),
    url("assets/fonts/Segoe-UI.woff2") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Segoe-UI;
  src: url("assets/fonts/Segoe-UI-Bold.woff2") format("woff2"),
    url("assets/fonts/Segoe-UI-Bold.woff2") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
