:root {
  --color-dark: #000000;
  --color-white: #ffffff;
  --color-focus: #036fc7;
  --color-accent: #cb11ab;
  --color-secondary: #9797af;
  --color-warning: #ff3b30;
  --color-good: #0cb477;
  --bg-main: #f6f6fa;
  --bg-secondary: #6725a8;
  --bg-smoky: #f6f6fa;
  --base-animation: 0.25s ease-in;
}
