:root {
  --color-dark: #000000;
  --color-dark--rgb: 0, 0, 0;
  --color-white: #ffffff;
  --color-white--rgb: 255, 255, 255;
  --color-focus: #036fc7;
  --color-accent: #cb11ab;
  --color-accent--rgb: 203, 17, 171;
  --color-accent-secondary: #cdf44d;
  --color-secondary: #9797af;
  --color-warning: #ff3b30;
  --color-counter-left: #f55123;
  --color-price-tooltip: #a0a0a4;
  --color-good: #0cb477;
  --color-good--rgb: 12, 180, 119;
  --color-header-mob-icons: #cccccc;
  --bg-main: #f6f6fa;
  --bg-main-dark: #f0ecf4;
  --bg-secondary: #6725a8;
  --base-animation: 0.25s ease-in;
}
